input[type=radio] {
    display: none;
}

.star{
    cursor: pointer;
}


.text1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.app{
    padding-top: 20%;
    display: flex;
    justify-content: center;
}